
        <footer>
            <hr>
            <div id="index_footer">
              <figure>
                  <img src="img/csumb_logo.png" alt= "CSUMB Logo" />
              </figure>
                <div>
                    <div id = "index_footer_text">
                        CST336 Internet Programming. 2020&copy; Leos.<br/>
                        <strong>Homework week 1. </strong> Hyper Text Markup Langauge and Cascading Style Sheets.
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>