<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<html lang="en">
    <head>
        <meta charset = "utf-8" />
        <title> 5G Technology</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    </head>
    <body >
        <header>
            <h1>5G Technology</h1>
            <h2>The Future is Here</h2>
        </header>
        <hr />
        <nav>
            <a href="/" id="home">Home</a>
            <a href="/history" id="history">The History</a>
            <a href="/whatis" id="whatis">What is 5G?</a>
            <a href="/advantages" id="advantages">Advantages</a>
            <a href="/sources" id="sources">Sources</a>
        </nav>
        