<%- include('partials/header.ejs' , {catchPhrase:catchPhrase})%>
        <main>
            <div id="advantages-content">
                <dl>
                    <dt>Low Latency</dt> 
                        <dd>Wireless network technologies that require great precision and are time-dependant can be fully explored. 
                        As technology advanced, self-driving cars need to be able to communicate with each other.
                        As such, cellular Vehicle-to-Everything technologies would take full advantage of 5G as real-time, non-line of sight awareness.
                        Data gathering from other vehicles becomes essential for autonomous vehicles.
                        In a similar manner, wireless control of drones through cellular networks will take advantage as 5G will enable real-time commands to be sent to it.</dd>
                    <dt>5G and the IoT</dt>
                        <dd>5G is also set to establish a more intelligent connection with the Internet of Things. 
                        This is possible thanks to 5G being built upon the already established Narrowband-IoT, a narrowband technology that lowers device complexity, reduces power consumption, deepens coverage, and enables higher node density deployments. 
                        This means more, smarter devices interconnected wirelessly through cellular networks.
                        Enhancing voice support, enabling lower latency, providing location services, allowing device mobility , and supporting broadcast to facilitate efficient OTA (over-the-air) firmware updates.</dd>
                    <dt>5G for Gaming</dt>
                        <dd>The mobile gaming industry will also take advantage of this new mobile network generation.
                        Thanks to speed, latency, and connectivity improvements with 5G, the mobile gaming industry will be able to offer “streamable” gaming content.
                        Games will be offered as streamable content, leaving the heavy computational task to be housed on servers as opposed to the devices themselves.</dd>
                </dl>
            </div>
            <div id = "adv-img">
            <figure>
                <img src = "img/5G-BG.gif" width="600" height="400" alt= "https://news.itu.int/wrc-19-opportunity-to-bridge-digital-divide-5g/" />
            </figure>
            </div>
        </main>
            <script>
            $("document").ready(function() {
                $("#advantages").addClass("current_page");
            });
            </script>
<%- include('partials/footer.ejs')%>