<%- include('partials/header.ejs' , {catchPhrase:catchPhrase})%>
        <br /><br />
        
        <main>
            <div id="content">
            <figure>
                <img src = "img/1g-3g.png" alt= "https://www.britannica.com/technology/MicroTAC , https://www.alibaba.com/product-detail/Design-your-own-brand-phone-cheap_60455718858.html" />
            </figure>
            <table>
                <tr id="table-header">
                    <td><strong>Technology</strong></td>
                    <td><strong>Year First Implemented</strong></td>
                    <td><strong>Brief Description</strong></td>
                </tr>
                    <tr class="table-row-odd">
                        <td>1G Analog</td>
                        <td>1983</td>
                        <td class="table-description">Called Advanced Mobile Phone System. First used in Chicago. Range of frequencies between 824 megahertz and 894 MHz. Voice quality comparable to a wired telephone.</td>
                    </tr>
                    <tr class="table-row-even">
                        <td>2G</td>
                        <td>1991</td>
                        <td class="table-description">First generation of digital cellular technologies. Conversations digitally encrypted. Enabled services such as text messages, picture messages, and multimedia messages.</td>
                    </tr>
                    <tr class="table-row-odd">
                        <td>3G</td>
                        <td>2002</td>
                        <td class="table-description">Speeds from 200kbps to a few megabits per second. First introduced mobile Internet access, fixed wireless Internet access, video calls, and mobile TV technologies.</td>
                    </tr>
                    <tr class="table-row-even">
                        <td>4G</td>
                        <td>2009</td>
                        <td class="table-description">Up to 100 megabits per second for high mobility communication. Up to 1 gigabit per second for low mobility communication. Frequencies ranging from 700 MHz to 2600 MHz.</td>
                    </tr>
            </table>
            <figure>
                <img src = "img/2g-4g.png" alt= "https://www.newegg.com/p/23B-000R-002A0 , " >
            </figure>
        </div>
        </main>
            <script>
            $("document").ready(function() {
                $("#history").addClass("current_page");
            });
            </script>
  <%- include('partials/footer.ejs')%>