<%- include('partials/header.ejs' , {catchPhrase:catchPhrase})%>
        <br /><br />
        
        <main>
            <figure>
                <img src = "img/5G_index_correct.png" alt= "https://www.nokia.com/networks/5g/" />
            </figure>
            <div>
                <p>“Fastest”, “Most reliable”, “Better than ever”, we’ve all seen these claims in cellphone carrier’s commercials.</p> 
                <p>Promising “Blazing fast speeds” and “Amazing coverage”. Now more than ever, the internet of things follows us wherever we go.</p>
                <p>With advances on streaming content quality, high-end mobile gaming devices, and smart vehicles we need a network infrastructure capable of sustaining all of this.</p>
                <p>That’s where 5G comes into play. 5G is the fifth generation cellular network technology.</p>
                <p>Every cellular network generation has technically been defined by its data transmission speeds and technological features with 4G being the latest prior to 5G.</p>
            </div>
        </main>
             <script>
            $("document").ready(function() {
                $("#home").addClass("current_page");
            });
            </script>
<%- include('partials/footer.ejs')%>