<%- include('partials/header.ejs')%>
        <main>
            <figure>
                <img src = "img/5G_index_correct.png" alt= "https://www.nokia.com/networks/5g/" />
            </figure>
            <div>
                <br/>
                <br/>
                <p><a class= "sources" href = "https://www.qualcomm.com/invention/5g" target="_blank">Qualcomm Inventions</a></p>

                <p><a class= "sources" href = "https://www.qualcomm.com/media/documents/files/whitepaper-making-5g-nr-a-reality.pdf" target="_blank">Qualcomm Making 5Gnr a Reality (pdf)</a></p>

                <p><a class= "sources" href = "https://www.pcmag.com/article/345387/what-is-5g" target="_blank">Qualcomm What is 5G</a></p>

                <p><a class= "sources" href = "https://www.qualcomm.com/news/onq/2017/08/02/demystifying-3gpp-insiders-perspective-how-4g-and-5g-standards-get-created" target="_blank">Qualcomm 4G and 5G Standards</a></p>
            </div>    
        </main>        
            <script>
            $("document").ready(function() {
                $("#sources").addClass("current_page");
            });
            </script>
 <%- include('partials/footer.ejs')%>