<%- include('partials/header.ejs')%>
        <main>
            <div id="whatis-content">
                <p>5G is the next network evolution, some might say the most important one too. It is being developed by 
                The 3rd Generation Partnership Project, who also worked on 3G and 4G networks. 5G will be faster and bigger than its previous generation.
                It will use better advantage of the radio waves to do so, achieving speeds of 25 to 50 percent better than 4G LTE. It is expected to deliver,
                at its best, data rates of 20 Gigabits per second. For comparison an average 4K movie is about one Terabyte in size, around 1000 GB.
                At 20Gbps you could download the entire movie in less than 8 minutes! 5G will have an incredible response time as well. 
                We refer to latency as the amount of time data takes to travel to and from a portion of the network. 5G’s latency between a cellphone and a cellphone
                tower is expected to be from 1 to 4 millions of a second!</p>
            </div>
            <figure>
                <img src = "img/5g-big.png" alt= "https://news.itu.int/wrc-19-opportunity-to-bridge-digital-divide-5g/" />
            </figure>
       </main>
            <script>
            $("document").ready(function() {
                $("#whatis").addClass("current_page");
            });
            </script>
 <%- include('partials/footer.ejs')%>